In [ ]:
#To create a summary of the Local Government Area (LGA), we need to combine the data from the two CSV files provided: schools_complete.csv and students_complete.csv. We will start by importing the required libraries and reading in the data.

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [25]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [15]:
# Calculating the total number of unique schools
total_schools = len(school_data_complete["school_name"].unique())
# Calculating the total number of students
total_students = len(school_data_complete["Student ID"].unique())

# Calculating the total budget
total_budget = school_data_complete["budget"].sum()

# Calculating the average maths score
avg_math_score = school_data_complete["maths_score"].mean()

# Calculating the average reading score
avg_reading_score = school_data_complete["reading_score"].mean()

# Calculating the percentage of students who passed maths
passing_math = school_data_complete[school_data_complete["maths_score"] >= 50]
percent_passing_math = len(passing_math)/total_students * 100

# Calculating the percentage of students who passed reading
passing_reading = school_data_complete[school_data_complete["reading_score"] >= 50]
percent_passing_reading = len(passing_reading)/total_students * 100

# Calculating the percentage of students who passed both maths and reading
overall_passing = school_data_complete[(school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)]
percent_overall_passing = len(overall_passing)/total_students * 100

In [16]:
# Creating a dataframe for the LGA summary
lga_summary_df = pd.DataFrame({"Total Unique Schools": [total_schools],
                               "Total Students": [total_students],
                               "Total Budget": [total_budget],
                               "Average Maths Score": [avg_math_score],
                               "Average Reading Score": [avg_reading_score],
                               "% Passing Maths": [percent_passing_math],
                               "% Passing Reading": [percent_passing_reading],
                               "% Overall Passing": [percent_overall_passing]})
# Formatting the Total Budget column
lga_summary_df["Total Budget"] = lga_summary_df["Total Budget"].map("${:,.2f}".format)

# Displaying the LGA summary dataframe
lga_summary_df

,Total Unique Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,"$82,932,329,558.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [ ]:
#The average maths score is slightly lower than the average reading score.

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [17]:
# Sort per_school_summary by "% Overall Passing" in descending order and select the top 5 schools
top_schools =lga_summary_df.sort_values("% Overall Passing", ascending=False).head(5)

print(top_schools)

   Total Unique Schools  Total Students        Total Budget  \
0                    15           39170  $82,932,329,558.00

   Average Maths Score  Average Reading Score  % Passing Maths  \
0            70.338192              69.980138        86.078632

   % Passing Reading  % Overall Passing
0          84.426857          72.808272

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [18]:
# Sort per_school_summary by "% Overall Passing" in ascending order and select the bottom 5 schools
bottom_schools = lga_summary_df.sort_values("% Overall Passing").head()
print(bottom_schools)

   Total Unique Schools  Total Students        Total Budget  \
0                    15           39170  $82,932,329,558.00

   Average Maths Score  Average Reading Score  % Passing Maths  \
0            70.338192              69.980138        86.078632

   % Passing Reading  % Overall Passing
0          84.426857          72.808272

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [19]:

# Create a DataFrame from the given data
data = {'School Name': ['Bailey High School', 'Cabrera High School', 'Figueroa High School', 'Ford High School', 'Griffin High School', 'Hernandez High School', 'Holden High School', 'Huang High School', 'Johnson High School', 'Pena High School', 'Rodriguez High School', 'Shelton High School', 'Thomas High School', 'Wilson High School', 'Wright High School'],
        'Year 9': [72.493827, 72.321970, 68.477804, 69.021609, 72.789731, 68.586831, 70.543307, 69.081754, 69.469286, 71.996364, 71.940722, 72.932075, 69.234273, 69.212361, 71.741176],
        'Year 10': [71.897498, 72.437768, 68.331586, 69.387006, 71.093596, 68.867156, 75.105263, 68.533246, 67.990220, 72.396000, 71.779808, 72.506696, 70.057007, 69.455446, 72.179012],
        'Year 11': [72.374900, 71.008299, 68.811001, 69.248862, 71.692521, 69.154412, 71.640777, 69.431345, 68.637730, 72.523438, 72.364811, 70.097087, 69.657831, 68.378965, 73.275862],
        'Year 12': [72.675097, 70.604712, 69.325282, 68.617811, 71.469178, 68.985075, 73.409639, 68.639316, 69.287393, 71.187845, 72.154626, 72.331536, 69.369822, 69.787472, 70.848238]}
math_scores = pd.DataFrame(data)

# Use melt() function to unpivot the data into long format
math_scores = pd.melt(math_scores, id_vars=['School Name'], var_name='Year Level', value_name='Average Maths Score')

# Group by school and year level to calculate the mean maths score
math_scores = math_scores.groupby(['School Name', 'Year Level'], as_index=False).mean()

# Print the resulting DataFrame
print(math_scores)

              School Name Year Level  Average Maths Score
0      Bailey High School    Year 10            71.897498
1      Bailey High School    Year 11            72.374900
2      Bailey High School    Year 12            72.675097
3      Bailey High School     Year 9            72.493827
4     Cabrera High School    Year 10            72.437768
5     Cabrera High School    Year 11            71.008299
6     Cabrera High School    Year 12            70.604712
7     Cabrera High School     Year 9            72.321970
8    Figueroa High School    Year 10            68.331586
9    Figueroa High School    Year 11            68.811001
10   Figueroa High School    Year 12            69.325282
11   Figueroa High School     Year 9            68.477804
12       Ford High School    Year 10            69.387006
13       Ford High School    Year 11            69.248862
14       Ford High School    Year 12            68.617811
15       Ford High School     Year 9            69.021609
16    Griffin High School    Year 10            71.093596
17    Griffin High School    Year 11            71.692521
18    Griffin High School    Year 12            71.469178
19    Griffin High School     Year 9            72.789731
20  Hernandez High School    Year 10            68.867156
21  Hernandez High School    Year 11            69.154412
22  Hernandez High School    Year 12            68.985075
23  Hernandez High School     Year 9            68.586831
24     Holden High School    Year 10            75.105263
25     Holden High School    Year 11            71.640777
26     Holden High School    Year 12            73.409639
27     Holden High School     Year 9            70.543307
28      Huang High School    Year 10            68.533246
29      Huang High School    Year 11            69.431345
30      Huang High School    Year 12            68.639316
31      Huang High School     Year 9            69.081754
32    Johnson High School    Year 10            67.990220
33    Johnson High School    Year 11            68.637730
34    Johnson High School    Year 12            69.287393
35    Johnson High School     Year 9            69.469286
36       Pena High School    Year 10            72.396000
37       Pena High School    Year 11            72.523438
38       Pena High School    Year 12            71.187845
39       Pena High School     Year 9            71.996364
40  Rodriguez High School    Year 10            71.779808
41  Rodriguez High School    Year 11            72.364811
42  Rodriguez High School    Year 12            72.154626
43  Rodriguez High School     Year 9            71.940722
44    Shelton High School    Year 10            72.506696
45    Shelton High School    Year 11            70.097087
46    Shelton High School    Year 12            72.331536
47    Shelton High School     Year 9            72.932075
48     Thomas High School    Year 10            70.057007
49     Thomas High School    Year 11            69.657831
50     Thomas High School    Year 12            69.369822
51     Thomas High School     Year 9            69.234273
52     Wilson High School    Year 10            69.455446
53     Wilson High School    Year 11            68.378965
54     Wilson High School    Year 12            69.787472
55     Wilson High School     Year 9            69.212361
56     Wright High School    Year 10            72.179012
57     Wright High School    Year 11            73.275862
58     Wright High School    Year 12            70.848238
59     Wright High School     Year 9            71.741176

## Reading Score by Year

* Perform the same operations as above for reading scores

In [20]:
# extract year-level data for maths scores
maths_scores_9 = school_data_complete[school_data_complete["year"] == "9"].groupby("school_name")["maths_score"].mean()
maths_scores_10 = school_data_complete[school_data_complete["year"] == "10"].groupby("school_name")["maths_score"].mean()
maths_scores_11 = school_data_complete[school_data_complete["year"] == "11"].groupby("school_name")["maths_score"].mean()
maths_scores_12 = school_data_complete[school_data_complete["year"] == "12"].groupby("school_name")["maths_score"].mean()

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [21]:
# create a pandas series for each year
year_9 = school_data_complete[school_data_complete['year'] == 9].groupby('school_name')['maths_score'].mean()
year_10 = school_data_complete[school_data_complete['year'] == 10].groupby('school_name')['maths_score'].mean()
year_11 = school_data_complete[school_data_complete['year'] == 11].groupby('school_name')['maths_score'].mean()
year_12 = school_data_complete[school_data_complete['year'] == 12].groupby('school_name')['maths_score'].mean()

# combine the series into a dataframe
math_scores_by_year = pd.DataFrame({
    '9th': year_9,
    '10th': year_10,
    '11th': year_11,
    '12th': year_12
})


math_scores_by_year.head()

                            9th       10th       11th       12th
school_name
Bailey High School    72.493827  71.897498  72.374900  72.675097
Cabrera High School   72.321970  72.437768  71.008299  70.604712
Figueroa High School  68.477804  68.331586  68.811001  69.325282
Ford High School      69.021609  69.387006  69.248862  68.617811
Griffin High School   72.789731  71.093596  71.692521  71.469178

In [27]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
lga_summary_df["Spending Ranges (Per Student)"] = pd.cut(school_data_complete, spending_bins, labels=labels)

ValueError: Input array must be 1 dimensional

## Scores by School Size

* Perform the same operations as above, based on school size.

In [9]:
# Group schools based on size
lga_summary_df.groupby(["Size"])

# Calculate the average math and reading scores, and the percentage of students passing math, reading, and overall
avg_math_by_size = ["Average Maths Score"].mean()
avg_reading_by_size = ["Average Reading Score"].mean()
passing_math_by_size = ["% Passing Math"].mean()
passing_reading_by_size = ["% Passing Reading"].mean()
overall_passing_by_size = ["% Overall Passing"].mean()

# Create a new dataframe to store the results
scores_by_size = pd.DataFrame({"Average Maths Score": avg_math_by_size,
                               "Average Reading Score": avg_reading_by_size,
                               "% Passing Maths": passing_math_by_size,
                               "% Passing Reading": passing_reading_by_size,
                               "% Overall Passing": overall_passing_by_size})


# Display the results
scores_by_size

NameError: name 'lga_summary_df' is not defined

## Scores by School Type

* Perform the same operations as above, based on school type

In [28]:
# Group schools based on size
by_size = lga_summary_df.groupby(["Size"])

# Calculate the average math and reading scores, and the percentage of students passing math, reading, and overall
avg_math_by_size = by_size["Average MathS Score"].mean()
avg_reading_by_size = by_size["Average Reading Score"].mean()
passing_math_by_size = by_size["% Passing MathS"].mean()
passing_reading_by_size = by_size["% Passing Reading"].mean()
overall_passing_by_size = by_size["% Overall Passing"].mean()

# Create a new dataframe to store the results
scores_by_size = pd.DataFrame({"Average Maths Score": avg_math_by_size,
                               "Average Reading Score": avg_reading_by_size,
                               "% Passing Maths": passing_math_by_size,
                               "% Passing Reading": passing_reading_by_size,
                               "% Overall Passing": overall_passing_by_size})



# Display the results
scores_by_size

KeyError: 'Column not found: Average MathS Score'

In [30]:
# Group the data by school type
by_type = school_data_complete.groupby("type")

# Calculate the average math score by school type
avg_math_score_by_type = by_type["math_score"].mean()

# Calculate the average reading score by school type
avg_reading_score_by_type = by_type["reading_score"].mean()

# Calculate the percentage of students passing math by school type
passing_math_by_type = school_data_complete[school_data_complete["math_score"] >= 70].groupby("type")["Student ID"].count() / by_type["Student ID"].count() * 100

# Calculate the percentage of students passing reading by school type
passing_reading_by_type = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("type")["Student ID"].count() / by_type["Student ID"].count() * 100

# Calculate the overall passing percentage by school type
overall_passing_by_type = (passing_math_by_type + passing_reading_by_type) / 2

# Create a new dataframe to store the results
scores_by_type = pd.DataFrame({
    "Average Maths Score": avg_math_score_by_type,
    "Average Reading Score": avg_reading_score_by_type,
    "% Passing Maths": passing_math_by_type,
    "% Passing Reading": passing_reading_by_type,
    "% Overall Passing": overall_passing_by_type
})

# Format the data
scores_by_type["Average Maths Score"] = scores_by_type["Average Maths Score"].map("{:.2f}".format)
scores_by_type["Average Reading Score"] = scores_by_type["Average Reading Score"].map("{:.2f}".format)
scores_by_type["% Passing Maths"] = scores_by_type["% Passing Maths"].map("{:.2f}%".format)
scores_by_type["% Passing Reading"] = scores_by_type["% Passing Reading"].map("{:.2f}%".format)
scores_by_type["% Overall Passing"] = scores_by_type["% Overall Passing"].map("{:.2f}%".format)

# Display the dataframe
scores_by_type

KeyError: 'Column not found: math_score'